{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px rgb(198, 201, 204);
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Sobre nós</h5>
        <div class="card-body">
            <p class="card-text">
                Olá, me chamo Danúbio e estou buscando oportunidades.
                Sou Bacharel em Sistemas de Informação.
            </p>
            <a href="#" class="btn btn-danger">Saber mais!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}